<div id="barwrap">
  <div class="bar">
  
    <span id="text"><br>We've made some changes to our site. If you can't find what you are looking for, please let us know via <a href="mailto:enquiries@wildnutrition.com">enquiries@wildnutrition.com</a> or <a href="tel:01273477898">01273 477898</a></span>
  <span id="otherimg"></span>
  <span id="ok"><a href="#">X</a></span>
  </div>
</div>